<div>
<footer>
        
        <h2>Universidad Católica Nuestra Señora de la Asunción </h2>
        <h2>Unidad Pedagógica Guarambaré</h2>
        <h2>Facultad de Ciencias y Tegnologías</h2>
        <h2>Ingeniería del Software 3</h2>
        <h3>Profesor: Omar Esgaib</h3>
        <h3>Carrera: Análsis de Sistemas Informáticos </h3> 
        <address>Av.Benjamín Aceval</address>
        <a href="https://gitlab.com/nicogimenez173/02-y-18433-motor-plantillas"> proyecto git</a>
      
    </footer>
</div>